{{!-- {{#if logo}} --}}

    <div class="card api" data-queries="{{queries}}" id={{name}}>
      <div class="image">
        <img src="../logos/{{logo}}">
      </div>
      <div class="content">
        <p>{{{description}}}</p>
      </div>
      <div class="action">
        <a href='{{website}}'>{{name}}</a>
      </div>
    </div>

{{!-- {{/if}} --}}
