
<div class="card api {{#unless apiUrl}}noapi{{/unless}}" data-queries="{{queries}}" id={{name}} data-apiUrl="{{apiUrl}} ">
  {{#if logo}}
    <div class="image">
      <a href="{{website}}"> <img src="../logos/{{logo}}"> </a>
    </div>
  {{/if}}
  <div class="content">
    <p>{{{description}}}</p>
  </div>
  <div class="action">
    {{#if apiUrl}}
      <a href='{{apiUrl}}'>{{name}}</a>
    {{else}}
      <a href='{{website}}'>{{name}}</a>
    {{/if}}
  </div>
</div>
